* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Barlow";
}


.SubHeader {
    /* width: 100%; */
    height: 60px;
    background-color: #FF5C1D;
    box-shadow: 0px 4px 10px 0px #00000040;
    color: #ffff;

    /* font-size: 18px; */

}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SubHeader span {
    margin-left: 15px;
}

.header {
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #00000040;




}

.menu {
    flex: 0 0 auto;
    width: 66.66666667%;

}

.menu ul li {
    margin-right: 20px;
    /* Add space between menu items */
}

.header ul {
    /* font-weight: 400; */
    /* padding-top: 20px; */
    text-align: center;
    margin: 0 auto;

}

.header ul li {
    display: inline-block;
    list-style: none;


}


.header ul li a {
    text-decoration: none;
    color: #0A1D29;
    /* font-size: 20px; */
    /* padding-left: 30px; */




}

.header ul li a:hover {
    /* font-weight: bold; */
    color: #0A1D29;
    text-decoration: underline;
    text-decoration-color: #FF5C1D;
    text-underline-offset: 20px;

}


.login Button {

    border: rgb(255, 92, 29);
    float: right;
    font-weight: bold;

}

.login a,
.login Button {
    margin: 0 auto;
}

.login a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.login a:hover {
    color: #0A1D29;
    text-decoration: underline;
    text-decoration-color: #FF5C1D;
    text-underline-offset: 20px;
    font-weight: bold;

}

.slider {
    background-image: url('/public/slider.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 150px;


}

.sliderCont {
    /* position: absolute; */


    /* transform: translate(-50%, -50%); */
    text-align: center;


}

.sliderCont h6 {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    color: #FF5C1D;

}

.sliderCont h1 {

    font-size: 64px;
    font-weight: 900;
    /* font-weight: bold; */
    line-height: 76.8px;

}

.sliderCont h1 span {
    color: #FF5C1D;
    ;
}

.sliderCont p {

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;


}

.slider Button {
    font-size: 20px;
    margin-left: 15px;
}

.sliderCont .fButton {
    background: linear-gradient(90deg, #FF5C1D 0%, #DD460C 100%);
    box-shadow: 0px 4px 10px 0px #00000040;
    color: #FFFFFF;
}

.sliderCont .sButton {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #00000040;
    color: #0A1D29;

}

.secSection {
    text-align: center;
    background-color: black;
    height: auto;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;


}


.secSection h4 {

    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    color: #FF5C1D;

}

.secSection h2 {


    font-size: 50px;
    font-weight: 700;
    line-height: 48px;

}

.secSection hr,
.thirdSec hr,
.nineSec hr {
    width: 13%;
    color: #FF5C1D;
    border: 2px solid;
    opacity: inherit;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secBox {
    margin-top: 50px;
}

.secBox h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: #FF5C1D;

}

.secBox p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    width: 60%;
    margin: auto;
    display: block
}

.thirdSec {
    height: 1000px;
    top: 1282px;
    gap: 0px;
    opacity: 0px;
    background-color: #141A1C;
    text-align: center;
    padding-top: 50px;
}

.thirdSec h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: #FF5C1D;
}

.thirdSec span {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #FFFFFF;

}

.thirdBox {
    margin: 50px 0 50px 0;
    padding: 50px 0 50px 0;
}

.thirdSec .box {
    width: 400px;
    height: 185px;
    top: 1737px;
    left: 180px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #00000040;
    text-align: left;
    padding: 20px;
    margin: 0 0 30px 0
}

.thirdSec .box h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    /* text-align: left;     */
    color: #FF5C1D;

}

.thirdSec .box span {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: black;

}

.fourSec {
    background-color: black;
    padding: 50px 0 50px 0;

}

.fourSec h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    color: #FF5C1D;
}

.fourSec h1 {
    font-weight: 700;
    line-height: 50.6px;
    text-align: left;
    width: 66%;
    font-size: 48px;
    color: white;
}

.fourSec p {
    font-size: 18px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.fourIcons p {
    color: #FF5C1D;
}

.fifthSec {
    background-image: url('/public/5.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    top: 2835px;
    gap: 0px;
    opacity: 0px;

}

.fifthSec h1 {

    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 57.6px;
    color: #FFFFFF;
}

.fifthSec h1 span {

    color: #FF5C1D;
}

.fifthSec p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #FFFFFF;

}

.fifthSec .Contsec {

    /* padding-top: 10%; */

}

.fifthSec .container {
    display: flex;
    justify-content: center;
    /* horizontally centers the content */
    align-items: center;
    /* vertically centers the content */
    height: 600px;
    /* makes the container take the full height of the viewport */
    /* border: 1px solid black;  */
}

.fifthSec Button {
    float: right;
}

.sevenSec {
    background-color: black;
    /* height: auto; */
    color: white;
    padding: 50px 0 50px 0;

}

.Sevenimg {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/7.png');
    opacity: 0.2;
    width: 116%;
    background-repeat: no-repeat;


}

.sevenSec h4 {

    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;

    color: #FF5C1D;
}

.sevenSec h2 {

    font-size: 48px;
    font-weight: 700;
    line-height: 60.6px;
    /* text-align: left; */
    width: 57%;

}

.sevenIcon {
    display: inline-flex;
    margin-left: 20px;
}

.sevenIcon p {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}


.sevenAllign {
    /* display: grid; */
}

.sevenCont {
    margin: 20px 0 20px 0;
}

.sevenCounter h3 {

    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    color: #FF5C1D;

}

.sevenCounter span {

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;


}

.sevenCounter {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eightSec {

    height: 1080px;
    top: 3707px;
    gap: 0px;
    opacity: 0px;
    background-color: #141A1C;
    /* text-align: center; */
    padding-top: 50px;
    color: white;

}

.eightSec .eightimg {
    display: block;
    margin: auto;
}

.eightSec h3 {

    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;

}

.eightSec h6 {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #FF5C1D
}

.eightBox {
    width: 345px;
    height: auto;
    top: 4246px;
    left: 170px;
    gap: 0px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background-color: #FFFFFF;
    padding: 20px 0 20px 0;
}

.eightBox h6 {
    color: Black;
    text-align: center;

}

.eightBox h3 {

    font-size: 74px;
    font-style: italic;
    font-weight: 900;
    line-height: 88.8px;
    text-align: center;
    color: #FF5C1D;

}

.eightBox span {

    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    line-height: 43.2px;
    color: #141A1C;

}

.eightBox ul {
    color: #141A1C;
    text-align: left;



}

.eightBox ul li {
    list-style: none;

    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.eightBox .priceBtn {
    color: #FF5C1D;
    border: 1px solid #FF5C1D;
    background-color: transparent;
    display: block;
    /* Set display to block */
    margin: 0 auto;
    /* Center the button horizontally */
}

.eightBox .priceBtn:hover {
    background-color: #FF5C1D;
    color: white;
    border-color: transparent;
}

.icon-color span {
    color: #FF5C1D;
    /* Change the color as needed */

    padding-right: 10px;
    font-size: 24px;
}

.eightBox:hover {
    /* background-color: #FF5C1D; */
    transform: scale(1.1);
    transition: transform 0.5s;
}

.eightPriceBox {
    margin: 50px 0 50px 0;
}

.nineSec {
    text-align: center;
    background-color: black;
    height: auto;
    padding-top: 50px;
}

.nineSec h6 {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    color: #FF5C1D;


}

.nineSec h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #FFFFFF;

}

.nineSec p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: white;

}

.nineSec .cardText {
    color: #141A1C;
    font-family: Barlow;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    text-align: left;

}

.tenthSec {
    /* text-align: center; */
    background-color: #141A1C;
    padding-top: 50px;
    width: 100%;
    height: 40em;

}

.tenthSec h4 {
    text-align: center;
    font-family: Barlow;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    color: #FF5C1D;

}

.tenthSec h2 {
    font-family: Barlow;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;

}

.tenthSec p {
    text-align: center;
    color: #FFFFFF;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;

}


.tenthSec hr {
    width: 40%;
    color: #FF5C1D;
    border: 2px solid;
    opacity: inherit;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



button.accordion-button {
    background-color: white;
    color: black;
}

button.accordion-button:active {
    background-color: #FF5C1D;
}

@media screen and (max-width: 600px) {
    .SubHeader {
        background-color: olive;
        font-size: 10px;
    }
}


@media (max-width: 1199px) {
    .header {
        width: 100vw;
        padding: 0 0;
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
    }

    .logo {
        width: 20%;
        /* adjust the width as needed */
    }

    .menu {
        width: calc(100% - 220px);
        margin: 0 auto;
        text-align: center;
        /* /* display: block;  */

    }

    .header ul {
        margin-right: 5px;
        /* reduce the margin-right value */
    }


}

@media (max-width: 1199px) {
    .login {
        width: 240%;
        /* adjust the width as needed */
        text-align: right;
        display: flex;
        /* justify-content: space-between; */
    }

    .login a {
        font-weight: bold;
        margin-right: 10px;
        /* add padding between Sign In and Register */
    }

    .login Button {
        margin-left: 10px;
        /* add padding between Sign In and Register */
        width: auto;
        /* added */
    }

    .login a {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap;
        /* add this property */
    }
}




.header .menubar {
    display: none;
}

@media (max-width: 992px) {}

.accordion-body {
    background-color: #000;
    color: #f0f0f0;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #FF5C1D !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.elevenSec {

    height: 210px;
    top: 6080px;
    background-image: url('/public/11.png');
    color: white;
    text-align: center;
    justify-content: center;

}

.footer {
    background-image: url('/public/foot.png');
    /* width: 1440px; */
    background-size: cover;
    height: auto;
    /* top: 6290px; */
    /* text-align: center; */
    padding: 40px 0 20px 0;

}

.footer image {
    text-align: center;
}

.footer .mainCont p {
    font-weight: bold;
    /* width: 80%; */
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.footer h6 {
    font-style: italic;
    /* font-weight: 700; */
    line-height: 24px;
    /* text-align: left; */
    color: #FF5C1D;
    font-weight: bold;

}

.footer p {

    text-align: left;
    font-weight: bold;

}

.footer ul {

    list-style: none;
    margin: 0;
    padding: 0;

}

.footer li {
    /* list-style: none; */
    /* width: 550px; */
    /* float: left; */




}

.footer li a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    padding-top: 20px;
}

.eightSec .priceimg {
    display: flex;
    margin: 0 auto;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box !important;
    flex: 0 1 auto !important;
    width: 10px !important;
    height: 10px !important;
    padding: 0 !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    text-indent: -999px !important;
    cursor: pointer !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 0 !important;
    border-top: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;

    transition: opacity .6s ease !important;
    border-radius: 50% !important;

}


.carousel-indicators .active {
    opacity: 1;
    background-color: #DD460C !important;
    /* border-radius: 100%!important ; */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

    display: none !important;
}

.gap-3 {
    gap: 5rem;
    /* Adjust the value as needed */
}

.aboutCompany {
    width: 100%;
    ;
    top: 160px;
    gap: 0px;
    opacity: 0px;
    background-color: black;
    padding: 50px 50px;
    color: white;
    height: 600px;

}

.aboutCompany h3 {
    font-family: Barlow;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;

}

.aboutCompany h6 {
    font-family: Barlow;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FF5C1D;
}

.aboutSlider {
    background-image: url('/public/aboutslider.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 150px;
}

.aboutcustomer {
    background-image: url('/public/aboutcustomer.png');

    /* width: 100%; */
    height: 250px;
    color: white;
    text-align: center;
    /* position: fixed; */
}

.aboutcustomer h3 {
    font-family: Barlow;
    font-size: 74px;
    font-weight: 700;
    line-height: 88.8px;
    color: #FF5C1D;

}

.aboutcustomer p {
    font-size: 22px;
}

.aboutProfessional {
    height: 550px;
    background-color: #000;
    color: white;
}

.aboutProfessional h4 {
    font-family: Barlow;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FF5C1D;
}

.aboutProfessional h2 {
    font-size: 40px;
    font-weight: 700;
}

.aboutProfessional p {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;

}

.servicesSlider {
    background-image: url('/public/servicesslider.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 150px;
}

.allservices {
    text-align: center;
    background-color: #000;
    color: white;
    padding: 50px 0 50px 0;
}

.allservices h6 {
    font-family: Barlow;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    color: #FF5C1D;

}

.allservices h2 {

    font-family: Barlow;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;


}

.allservices p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;



}

.allservices hr {

    width: 23%;
    color: #FF5C1D;
    border: 2px solid;
    opacity: inherit;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

.allservices .css-1ri6ub7-MuiPaper-root-MuiCard-root {

    border-radius: 20px;

}

.allservices .cardimg {
    filter: brightness(50%);
}

.allservices .cardheading {
    font-family: Barlow;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FF5C1D;
}

.allservices .cardcont {
    font-family: Barlow;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000;

}

.allservices .col-4 {

    padding-bottom: 50px;
}

.servicecontent {
    margin-bottom: 50px;
}

.aboutProfessional p {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.serviceBox {
    width: 360px;
    height: 330px;
    top: 3035px;
    left: 154px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background: white;
    padding: 50px 10px 50px 10px;
}

.serviceBox h3 {

    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FF5C1D;
    padding: 20px 0 0 10px;

}

.serviceBox p {

    font-size: 16px;
    font-weight: bold;
    line-height: 19.2px;
    text-align: left;
    color: #000;

}

.serviceLocation {
    background-color: #000;
    padding: 50px 0 50px 0;
    color: white;
}

.serviceLocation h3 {

    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    color: #FF5C1D;

}

.serviceLocation .locationcont {
    margin-top: 50px;
}

.serviceLocation h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;

}

.serviceLocation p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26.2px;
    text-align: left;
}

.serviceLocation p span {

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;

}

.fleetesSlider {
    background-image: url('/public/fleetslider.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 150px;
}

.fleetcontent {

    color: white;
    padding-top: 84px;
}

.fleetcontent h3 {
    font-family: Barlow;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: left;
    color: #FF5C1D;
}

.fleetcontent p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;


}

.fleetcontent ul {
    float: left;
    display: grid;
    text-align: left;
}

.fleetcontent ul li {
    /* float: left; */
    list-style-type: disc;
}

.fleetcontent Button {
    float: left;
}

.healthslider {
    background-image: url('/public/healthslider.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 150px;
}

.healthSafety {
    padding-top: 50px;
    background-color: #000;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.healthSafety h6 {

    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 28.8px;
    color: #FF5C1D;

}

.healthSafety h2  {
     font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    
    
}
.healthSafety p {
     
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
 

}

.healthSafety  hr{
    width: 20%;
    color: #FF5C1D;
    border: 2px solid;
    opacity: inherit;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.healthSafety h3 {
    font-family: Barlow;
font-size: 20px;
font-weight: 700;
line-height: 24px;
/* text-align: left; */
color: #FF5C1D;
display: inline-flex;
}
.safetyimg {
    float: left;
}

 .healthpara p  {
    font-family: Barlow;
font-size: 15px;
font-weight: 500;
line-height: 18px;
text-align: left;

 }

 .healthPrecautions {
    background-image: url('/public/precautions.png');    
    height: 600px;
    width: 100%;   
    padding-top: 50px;


 }

 .healthPrecautions p {
    padding-top: 50px;
    font-family: Barlow;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: left;

 }
 .healthPrecautions .covid {
    float: right;
 }
 .healthPeace {
    background-color: #000;
    height: 250px;
    color: white;
    text-align: center;

 }
 .healthPeace h2{
    font-family: Barlow;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: center;
color: #FF5C1D;
padding: 50px 0 10px 0;

 }

 .healthPeace p {
    font-family: Barlow;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: center;


 }

 .contactSlider {
    background-image: url('/public/contactSlider.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 150px;
}

.touchcont h4 {
    
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
/* text-align: left; */

}
.contactForm {
    background-image: url('/public/form.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    color: aliceblue;
    padding-top: 50px;
}

.contactForm  h3 {
    font-family: Barlow;
font-size: 40px;
font-weight: 700;
line-height: 48px;
color: #DD460C;


 }
 .contactForm p {
    font-family: Barlow;
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
color: white;
 }